/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7/03/2025, 7:42:21 p. m.
    Author     : THR-1
*/

.root{
    -background-color: #4d4c4d;     /*Fondo del panel*/
    -background-b-color: #303030;   /*Fondo del contenerdor de menus*/
    -primary-color: #7A787A;        /*Fondo de los controles sin hover*/
    -bar-color: #5c5a5c;            /*Color de fondo de la barra de menu*/
    -hover-color: #A3A1A3;          /*Color de los controles con hover*/      
}

.label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "System", Arial, Helvetica;
    -fx-fadding: 15px 0 0 10px; 
    
}

.text-field{
    -fx-background-color: -background-b-color;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-height: infinity;
    -fx-pref-width: 100px;
    -fx-aligment: center-right;
    -fx-highlight-fill: -hover-color;
}

.button{
    -fx-background-color: -primary-color;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 2, 2);
    /*-fx-pref-height: 20px;*/
}

.button:hover{
    -fx-background-color: -hover-color;    
}

.button:pressed{
    -fx-background-color: -background-b-color;
}